<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" type="text/css" href="./css/bookDetails.css">
</head>
<body>
    <header>
        <div class="nav">
            <img id="img-logo"  alt="logo" src="https://i.postimg.cc/g2YRctHV/picsart-academy-logo-resized.png">
            <div class="nav-option">
                <a href="/">Home</a>
            </div>
            <div class="nav-option">
                <a href="/login">Login</a>
            </div>
            <div class="nav-option">
                <a href="/catalog">Catalog</a>
            </div>
        </nav>
    </header>
    
    <main>
        <div id="main-info">
            <div class="book-picture"></div>
            <div class="book-info">

                <div class="point">
                    <h3>Title: </h3>
                    <p>"Computer Arhcitecture Structure"</p>
                </div>
                <div class="point">
                    <h3>Author: </h3>
                    <p>Tannenbaum</p>
                </div>
                <div class="point">
                    <h3>Genre: </h3>
                    <p>Computer Science</p>
                </div>
            </div>

            <div class="description">
                <h3>Description: </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, vero? Natus reiciendis omnis nemo nam aperiam assumenda ratione saepe quia in maxime asperiores voluptatibus consequatur est, iure fugiat qui vitae obcaecati eaque eum! Dolores cumque amet illo, similique quaerat nobis recusandae incidunt beatae possimus mollitia minima nisi fugiat. Possimus, molestias!</p>
            </div>
        </div>


        <div class="controllers">
            <button>Borrow</button>
            <button>Reserve</button>
        </div>

        <div class="books-preview">
            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-info">
            <ul><h3>Contact Us</h3>
                <li>Azatutyan 24/17</li>
                <li>Yerevan, Yerevan</li>
                <li>Phone: (123) 456-7890</li>
                <li>Email: info@academy.com</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Library Hours</h3>
                <li>Monday - Friday: 9am - 5pm</li>
                <li>Saturday: 10am - 4pm</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Helpful Links</h3>
                <li>Academy Website</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Feedback Form</li>
            </ul>
        </div>
    </footer>
</body>
</html>