<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/bookDetails.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/bookDetails.css">
    <title>details</title>
</head>
<body>
    <header>
        <div class="nav">
            <img id="img-logo"  src="https://i.postimg.cc/g2YRctHV/picsart-academy-logo-resized.png">
            <div class="nav-option">
                <a href="/auth/login" id="login-logout">Login</a>
            </div>
            <div class="nav-option">
                <a href="/home/catalog">Catalog</a>
            </div>
            <div class="nav-option">
                <a href="/home">Home</a>
            </div>
        </div>
    </header>
    
    <main>
        <div id="main-info">
            <div class="book-picture"></div>
            <div class="book-info">

                <div class="point" id="title">
                    <h3>Title: </h3>
                    <p></p>
                </div>
                <div class="point" id="author">
                    <h3>Author(s): </h3>
                    <p></p>
                </div>
                <div class="point" id="genre">
                    <h3>Genre: </h3>
                    <p></p>
                </div>
            </div>

            <div class="description">
                <h3>Description: </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, vero? Natus reiciendis omnis nemo nam aperiam assumenda ratione saepe quia in maxime asperiores voluptatibus consequatur est, iure fugiat qui vitae obcaecati eaque eum! Dolores cumque amet illo, similique quaerat nobis recusandae incidunt beatae possimus mollitia minima nisi fugiat. Possimus, molestias!</p>
            </div>
        </div>


        <div class="controllers">
            <button>Borrow</button>
            <button>Reserve</button>
        </div>

        <div class="books-preview"></div>
    </main>

    <footer>
        <div class="footer-info">
            <ul><h3>Contact Us</h3>
                <li>Azatutyan 24/17</li>
                <li>Yerevan, Yerevan</li>
                <li>Phone: (123) 456-7890</li>
                <li>Email: info@academy.com</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Library Hours</h3>
                <li>Monday - Friday: 9am - 5pm</li>
                <li>Saturday: 10am - 4pm</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Helpful Links</h3>
                <li>Academy Website</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Feedback Form</li>
            </ul>
        </div>
    </footer>
    <script src="/public/js/userAuthControl.js"></script>
</body>
</html>