html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* #f1d8d8; */
header {
    width: 100%;
    background-color: #f1c4c4;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
}


#img-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

#img-logo:hover{
    opacity: 0.6;
}


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 15vh;
}

.nav-option {
    font-size: 18px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

#account {
    width: 50px;
    height: 50px;
    background: url("/public/images/account_icon.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#admin {
    width: 50px;
    height: 50px;
    background: url("/public/images/icon-admin.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#home {
    width: 50px;
    height: 50px;
    background: url("/public/images/home_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#catalog {
    width: 50px;
    height: 50px;
    background: url("/public/images/catalog_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#login {
    width: 50px;
    height: 50px;
    background: url("/public/images/login_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#admin:hover, #account:hover, #home:hover, #catalog:hover, #login:hover {
    opacity: 0.6;
}

#admin p, #account p, #home p, #catalog p, #login p {
    margin-top: 100%;
}

#account, #admin {
    display: none;
}


.nav-option a {
    font-size: 20px;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.8s;
    color:#333;
}

.nav-option a:hover {
    color: gray;
}


main {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background: url("/public/images/account_page_background.avif") 50% 50% / 50% no-repeat;
    background-size: cover;
}

main ul, li {
    margin: 0;
    padding: 0;
}

main .user-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
    opacity: 0.7;
    padding: 0;
}

main .user-options #user-info {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 30%;
    color: white;
}

main .user-options #user-info ul p {
    display: inline;
    flex-wrap: wrap;
}

main .user-options #user-info ul li {
    display: inline;
    list-style-type: none;
    font-size: 19px;
    line-height: 200%;
}

main .user-options #account-managment {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 5%;
    color: white;
}

main .user-options #account-managment button {
    width: 60%;
    height: 20%;
    margin-top: 3%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: #333;
    color: #ffffff;
    padding: 10px 15px;
    border-style: double;
    border-radius: 10px;
    transition: 0.6s;
}

main .user-options #account-managment button:hover {
    opacity: 0.5;
    background-color: gray;
}

#borrowedBooksPanel {
    background: white;
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #fff5;
    backdrop-filter: blur(10px);
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    transition: 0.2s;
}

#borrowedBooksPanel #closeBorrowedBooksPanel {
    position: absolute;
    top: 2%;
    right: 5%;
    width: 30px;
    height: 30px;
}

#borrowedBooksPanel #closeBorrowedBooksPanel button {
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
}



#borrowedBooksPreview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#borrowedBooksPreview  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 200px;
    margin:20px;
    border:none;
    border-radius: 8%;
    transition: 0.6s;
    background-color: #333;
}

#borrowedBooksPreview .item .picture {
    width: 40%;
    min-height: 150px;
    margin: 2%;
    background: url("https://i.postimg.cc/Sx8WvpsG/tanenbaum.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#borrowedBooksPreview .item .info {
    color:white;
    text-align: center;
    width: 50%;
}

#borrowedBooksPreview .item .info button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
} 

#borrowedBooksPreview .item .info button:hover {
    opacity: 0.6;
}

#borrowedBooksPreview.item .info a {
    color: white;
    
}

#borrowedBooksPreview .item:hover {
    color:gray;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 2px #333;
}



#fullnameChangePanel, #passwordChangePanel, #deleteAccountPanel{
    width: 0;
    position: fixed; 
    top: 0;
    left: 0;
    overflow: hidden; 
    min-height: 100%;
    z-index: 3;
    background: #fff5;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


@media screen and (max-width:700px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    main .user-options #account-managment button {
        width: 100%;
    }

    #fullnameChangePanel, #passwordChangePanel, #deleteAccountPanel{
        width: 0;
        position: fixed; 
        top: 0;
        left: 0;
        overflow: hidden; 
        min-height: 100vh;
        z-index: 3;
        background: #fff5;
        backdrop-filter: blur(10px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    
}

.inputBlock{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


#fullnameChangePanel button, #passwordChangePanel button, #deleteAccountPanel button{
    width: 100px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 30%;
    border: none;
    border-radius: 5px;
    transition: 0.7s;
    background-color: white;
    color: #333;
}


#fullnameChangePanel input, #passwordChangePanel input, #deleteAccountPanel input{
    width: 50%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    transition: 0.7s;
}
#fullnameChangePanel button:hover, #passwordChangePanel button:hover, #deleteAccountPanel:hover {
    background-color: gray;
}

#fullnameChangePanel input:hover, #passwordChangePanel input:hover, #deleteAccountPanel input:hover{
    opacity: 0.6;
}



footer {
    width: 100%;
    min-height: 20vh;
    background-color: #f1c4c4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333
}

footer a {
    color: #333;
  }

footer .footer-info {
    color: #333
}

@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    #img-logo {
        margin-top: 2%;
    }

    .nav {
        justify-content: center;
        max-height: 12vh;
    }

    #borrowedBooksPanel #closeBorrowedBooksPanel {
        position: absolute;
        top: 2%;
        right: 5%;
        width: 40px;
        height: 40px;
    }

    footer {
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
    }
}