html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* #f1d8d8; */
header {
    width: 100%;
    background-color: #f1c4c4;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
}


#img-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

#img-logo:hover{
    opacity: 0.6;
}


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 15vh;
}

.nav-option {
    font-size: 18px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

#account {
    width: 50px;
    height: 50px;
    background: url("/public/images/account_icon.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#admin {
    width: 50px;
    height: 50px;
    background: url("/public/images/icon-admin.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#home {
    width: 50px;
    height: 50px;
    background: url("/public/images/home_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#catalog {
    width: 50px;
    height: 50px;
    background: url("/public/images/catalog_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#login {
    width: 50px;
    height: 50px;
    background: url("/public/images/login_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#admin:hover, #account:hover, #home:hover, #catalog:hover, #login:hover {
    opacity: 0.6;
}

#admin p, #account p, #home p, #catalog p, #login p {
    margin-top: 100%;
}


#account, #admin {
    display: none;
}


.nav-option a {
    font-size: 20px;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.8s;
    color:#333;
}

.nav-option a:hover {
    color: gray;
}



main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url("/public/images/admin_page_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
}


.books-managment, .users-managment {
    width: 30%;
    height: auto;
    background: #fff5;
    backdrop-filter: blur(10px);
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-btn, .user-btn {
    width: 90%;
    height: 40px;
    margin: 5% 0;
    transition: 0.6s;
}

.book-btn button, .user-btn button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.6s;
    background-color: #333;
    color: white;
}

.book-btn:hover, .user-btn:hover {
    background-color: gray;
    opacity: 0.6;
}



#addBookForm, #deleteBookForm, #addAdminForm, #removeAdminForm, #banUserForm {
    width: 0;
    position: absolute; 
    top: 0;
    left: 0;
    overflow: hidden; 
    transition: 0.5s;
    min-height: 120vh;
    z-index: 3;
    background: #fff5;
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}



#addBookForm .input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#addBookForm .input input {
    width: 100%;
}


.inputBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
}

#addBookForm p, #deleteBookForm p, #addAdminForm p, #removeAdminForm p, #banUserForm p {
    margin: 0;
    padding: 0;
}

#addBookForm button, #deleteBookForm button, #addAdminForm button, #removeAdminForm button, #banUserForm button {
    width: 100px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 30%;
    border: none;
    border-radius: 5px;
    transition: 0.7s;
    background-color: white;
    color: #333;
}

#addBookForm input, #deleteBookForm input, #addAdminForm input, #removeAdminForm input, #banUserForm input {
    width: 50%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    transition: 0.7s;
}


#banUserForm textarea {
    border: solid;
    border-radius: 5px;
    transition: 0.7s;
}

#addBookForm button:hover, #deleteBookForm button:hover, #addAdminForm button:hover, #removeAdminForm button:hover, #banUserForm button:hover {
    background-color: gray;
}

#addBookForm input:hover, #deleteBookForm input:hover, #addAdminForm input:hover, #removeAdminForm input:hover, #banUserForm input:hover {
    opacity: 0.6;
}

footer {
    width: 100%;
    min-height: 20vh;
    background-color: #f1c4c4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333
}

footer a {
    color: #333;
  }

footer .footer-info {
    color: #333
}


@media screen and (max-width:700px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .books-managment {
        width: 80%;
        backdrop-filter: none;
    }

    .users-managment {
        width: 80%;
        backdrop-filter: none;
    }

    #addBookForm, #deleteBookForm, #addAdminForm, #removeAdminForm, #banUserForm {
        width: 0;
        position: fixed; 
        top: 0;
        left: 0;
        overflow: hidden; 
        transition: 0.5s;
        min-height: 100vh;
        z-index: 3;
        background: #fff5;
        backdrop-filter: blur(10px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    
    .inputBlock {
        width: 100%;
    }

}


@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    #img-logo {
        margin-top: 2%;
    }

    .nav {
        justify-content: center;
        max-height: 12vh;
    }

    footer {
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
    }
}