html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* #f1d8d8; */
header {
    width: 100%;
    background-color: #f1c4c4;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#img-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

#img-logo:hover{
    opacity: 0.6;
}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.nav-option {
    font-size: 18px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

#account {
    width: 50px;
    height: 50px;
    background: url("https://static.thenounproject.com/png/3795046-200.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#admin {
    width: 50px;
    height: 50px;
    background: url("/public/images/icon-admin.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#home {
    width: 50px;
    height: 50px;
    background: url("https://images.freeimages.com/fic/images/icons/2770/ios_7_icons/512/home.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#catalog {
    width: 50px;
    height: 50px;
    background: url("https://cdn-icons-png.flaticon.com/512/80/80990.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#admin:hover, #account:hover, #home:hover, #catalog:hover {
    opacity: 0.6;
} 

#account, #admin {
    display: none;
}


.nav-option a {
    font-size: 20px;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.8s;
    color: white;
}

.nav-option a:hover {
    color: gray;
}


main {
    min-height: 100vh;
    background: url("/public/images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#main-info {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.book-picture {
    margin-top: 2%;
    margin-left: 2%;
    background: url("https://i.postimg.cc/Sx8WvpsG/tanenbaum.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;

}

.book-info {
    background-color: #333;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    text-align: center;
    color: white;
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
}


.description {
    background-color: #333;
    opacity: 0.8;
    line-height: 1.2;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    margin-right: 2%;
    margin-left: 1%;
    margin-top: 2%;
}

.description p {
    margin-left: 2%;
}

.controllers {
    text-align: center;
    display: flex;
    justify-content: center;

}


.controllers button {
    height: 50px;
    width: 25%;
    border: solid;
    border-color: #333;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 1%;
    transition: 0.8s;
}

.controllers button:hover {
    opacity: 0.7;
    background-color: gray;
}


#bookBorrowModal{
    width: 0;
    height: 50vh;
    position: fixed;
    top:30%;
    left:10%;
    z-index: 3;
    overflow: hidden;
    background: #fff5;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}


#borrowing-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#borrowing-info input {
    height: 30px;
    width: 100%;
}

#borrow-buttons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 80%;
    height: 40px;
}

#bookBorrowModal button {
    border: none; 
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 30%;
    height: 100%;
    margin: 2%;
    transition: 0.7s;
}

#bookBorrowModal button:hover {
    opacity: 0.6;
}

.books-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.books-preview  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin:20px;
    border:none;
    border-radius: 8%;
    transition: 0.6s;
    background: #fff5;
    backdrop-filter: blur(10px);
}

.books-preview .item .picture {
    width: 40%;
    height: 150px;
    margin: 2%;
    background: url("https://i.postimg.cc/Sx8WvpsG/tanenbaum.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.books-preview .item .info {
    color:#333;
    text-align: center; 
    width: 50%;
}

.info a {
    color: white;
    transition: 0.8s;
}

.info a:hover {
    color:gray;
    opacity: 0.8;
}

.books-preview .item:hover {
    color:gray;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 2px #333;
}


@media screen and (max-width:780px) {
    #main-info {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }


    .book-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    .book-info .point {
        word-wrap: break-word;
        margin-right: 5%;
        width: 30%;
    }

    .book-picture {
        width: 350px;
        height: 300px;
    }

    .description {
        width: 90%;
        margin-right: 2%;
        margin-left: 1%;
        margin-top: 2%;
    }
}




footer {
    width: 100%;
    min-height: 20vh;
    background-color: #f1c4c4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333
}

footer .footer-info {
    color: #333
}


@media screen and (max-width: 1024px) {
    footer {
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
    }


    .books-preview  .item  {
        background-color: #333;
        backdrop-filter: none;
    }

    .books-preview .item .info {
        color: white;
    }
}
