body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-height: 0%;
    max-width: 100%;
    background-color: #ffffff;
}
header {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse; 
    padding: 5px;
    position: relative;
} 
#img-logo {
    position: absolute;
    left: 20px;
}

.nav-option {      
    padding-right: 15px;
    font-size: 18px;
    text-align: center;
    width: 60px;
    height: 30px;
    margin: 10px;
}

.nav-option a {
    font-size: 20px;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.8s;
    color: white
    
}

.nav-option a:hover {
    color: gray
}


@media screen and (max-width: 400px) {
    .nav {
       position: relative;
       flex-direction: column;
   }

   #img-logo {
       position: absolute;
       top: 30%;
       left: 50%;
   }
}

.aside {
    padding-bottom: 10%;
    width: 0;
    position: fixed; 
    top: 0;
    left: 0;
    overflow-x: hidden; 
    transition: 0.5s;
    height: 100%;
    z-index: 3;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#greeting h2{
    text-align: center;
    font-size: 40px;
    
}
.filter {
    margin: 5%;    
}

.filter input {
    width: 100%;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    transition: 0.8s;
}

input::-webkit-input-placeholder { 
    color: black; 
    font-size: 16px;
    text-align: center;
}

.filter input:hover {
    opacity: 0.5;
    background-color: gray;
}

.filter ul {
    list-style-type: none;
}

.filter ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    text-align: left;
    transition: 0.8s;
}

.filter ul li a:hover {
    opacity: 0.4;
    color: gray;
    background-color: #e6e6e6;
}

.filter button {
    width: 80%;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5%;
    background-color:#333;
    color: white;
    transition: 0.8s;
}

.filter button:hover{
    opacity: 0.5;
    background-color: gray;
}

.filter .search{
    display: flex;
    justify-content: center;
}

.filter .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    transition: 0.6s;
  }
  
  .openbtn:hover {
    background-color: #444;
    opacity: 0.8;
  }


  .closebtn {
    margin-top: 5%;
    margin-right: 2%;
  }

main {
    background: url("https://i.postimg.cc/G2Xq0BWn/catalog-background.webp");
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 100%;
    max-width: 100%;
    min-height:70%;
    overflow: hidden;
}

.books-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.books-preview  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    height: 200px;
    margin:20px;
    border:none;
    border-radius: 8%;
    background-color: #333;
    transition: 0.5s;
}

.books-preview .item:hover {
    color:gray;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 2px #333;
}

.books-preview .item .picture {
    width: 40%;
    height: 150px;
    margin: 2%;
    background: url("https://i.postimg.cc/Sx8WvpsG/tanenbaum.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.books-preview .item .info {
    color:white;
    text-align: center; 
    width: 50%;
    margin: 3%
}

.books-preview .item .info a {
    color: white;
    
}

.view-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-all {
    height: 40px;
    width: 30%;
    background-color: #333;
    color: white;
    border:none;
    border-radius: 5px;
    margin-bottom: 3%;
    transition: 0.8s;
}

#view-all:hover {
    color:gray;
    opacity: 0.7;
}

footer  {
    position: relative;
    z-index: 2;
    max-height: 20%;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
footer .footer-info {
    color: white;
}