html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    margin-left: 20%;
    background-color: #f1c4c4;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#img-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

#img-logo:hover{
    opacity: 0.6;
}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.nav-option {
    font-size: 18px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

#account {
    width: 50px;
    height: 50px;
    background: url("https://static.thenounproject.com/png/3795046-200.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#admin {
    width: 50px;
    height: 50px;
    background: url("/public/images/icon-admin.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#home {
    width: 50px;
    height: 50px;
    background: url("https://images.freeimages.com/fic/images/icons/2770/ios_7_icons/512/home.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#catalog {
    width: 50px;
    height: 50px;
    background: url("https://cdn-icons-png.flaticon.com/512/80/80990.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#admin:hover, #account:hover, #home:hover, #catalog:hover {
    opacity: 0.6;
}

#account, #admin {
    display: none;
}


.nav-option a {
    font-size: 20px;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.8s;
    color: white;
}

.nav-option a:hover {
    color: gray;
}



.aside {
    padding-bottom: 10%;
    width: 20%;
    margin-right: 20%;
    position: fixed; 
    top: 0;
    left: 0;
    overflow: hidden; 
    transition: 0.5s;
    height: 100%;
    z-index: 3;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#greeting h2{
    text-align: center;
    font-size: 40px;
    
}
.filter {
    margin: 5%;    
}

.filter input {
    width: 100%;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    transition: 0.8s;
}

input::-webkit-input-placeholder { 
    color: black; 
    font-size: 16px;
    text-align: center;
}

.filter input:hover {
    opacity: 0.5;
    background-color: gray;
}

.filter ul {
    list-style-type: none;
}

.filter ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #333;
    line-height: 30px;
    text-align: left;
    transition: 0.8s;
}

.filter ul li a:hover {
    opacity: 0.4;
    color: gray;
    background-color: #e6e6e6;
}

.filter button {
    width: 80%;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5%;
    background-color:#333;
    color: white;
    transition: 0.8s;
}

.filter button:hover{
    opacity: 0.5;
    background-color: gray;
}

.filter .search{
    display: flex;
    justify-content: center;
}

.filter .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    display: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    transition: 0.6s;
  }
  
  .openbtn:hover {
    background-color: #444;
    opacity: 0.8;
  }


  .closebtn {
    display: none;
    margin-top: 5%;
    margin-right: 2%;
  }



main {
    overflow: hidden;
    background: url("/public/images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin-left: 20%;
}

.books-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.books-preview  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin:20px;
    border:none;
    border-radius: 8%;
    transition: 0.6s;
    background: #fff5;
    backdrop-filter: blur(10px);
}

.books-preview .item .picture {
    width: 40%;
    height: 150px;
    margin: 2%;
    background: url("https://i.postimg.cc/Sx8WvpsG/tanenbaum.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.books-preview .item .info {
    color:#333;
    text-align: center; 
    width: 50%;
}

.books-preview .item .info a {
    color: white;
    
}

.books-preview .item:hover {
    color:gray;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 2px #333;
}

.view-option {
    display: flex;
    justify-content: center;
}

#view-more {
    height: 50px;
    width: 25%;
    margin-bottom: 5%;
    border: solid;
    border-color: #333;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: 1%;
    transition: 0.8s;
}

#view-more:hover {
    opacity: 0.7;
    background-color: gray;
}


footer {
    width: 100%;
    min-height: 20vh;
    background-color: #f1c4c4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333
}

footer .footer-info {
    color: #333
}



@media screen and (max-width: 700px){
    .aside {
        width: 0;
    }

    .openbtn, .closebtn {
        display: flex;
    }


    header, footer, main {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
    }


    .books-preview  .item  {
        background-color: #333;
        backdrop-filter: none;
    }

    .books-preview .item .info {
        color: white;
    }
}