<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="/public/css/account.css">
</head>
<body>
    <header>
        <div id="img-logo">
            <img src="/public/images/academy.webp" width="150">
        </div>
        <div class="nav">
            <div class="nav-option" id="account">
                <p>account</p>
                <a href="/auth/account"></a>
            </div>
            <div class="nav-option" id="admin">
                <p>admin</p>
                <a href="/root/admin"></a>
            </div>
            <div class="nav-option" id="home">
                <p>home</p>
                <a href="/home"></a>   
            </div>
            <div class="nav-option" id="catalog">
                <p>catalog</p>
                <a href="/home/catalog"></a>
            </div>
            <div class="nav-option" id="login">
                <p>login</p>
                <a href="/auth/login"></a>
            </div>
        </div>
    </header>

    <main>
        <div class="user-options">
            <div id="user-info">
                <ul><h3>My Account</h3>
                    <div id="firstname">
                        <li>first name: </li> <p></p>
                    </div>
                    
                    <div id="lastname">
                        <li>last name: </li> <p></p>
                    </div>
                    
                    <div id="email">
                        <li>email: </li> <p></p>
                    </div> 
                </ul>
            </div>
            <div id="account-managment">
                <h3>Options</h3>
                <button id="changePassword">change password</button>
                <button id="changeFullname">change fullname</button>
                <button id="borrowedBooks">borrowed books list</button>
                <button id="logout">logout</button>
                <button id="deleteAccount">delete account</button>
            </div>
        </div>
    </main>

        <div id="fullnameChangePanel">
            <div class="inputBlock">
                <h3>Enter new full name</h3>
                <input type="text" id="newFirstname" placeholder="firstname">
            </div>
            <div class="inputBlock">
                <input type="text", id="newLastname" placeholder="lastname">
            </div>

            <div>
                <button class="confirm" id="confirmFullnameChange">Confirm</button>
                <button class="cancel" id="cancelFullnameChange">Cancel</button>
            </div>
        </div>
        
        <div id="passwordChangePanel">
            <div class="inputBlock">
                <h3>Enter new password</h3>
                <input type="text" id="newPassword">
            </div>
            <div>
                <button class="confirm" id="confirmPasswordChange">Confirm</button>
                <button class="cancel" id="cancelPasswordChange">Cancel</button>
            </div>
        </div>

        <div id="borrowedBooksPanel">
            <h2>Your's Borrowed Books</h2>
            <div id="closeBorrowedBooksPanel">
                <button>X</button>
            </div>
            <div id="borrowedBooksPreview"></div>
        </div>

        <div id="deleteAccountPanel">
            <div class="inputBlock">
                <h3>Enter the password to confirm account deletion</h3>
                <input type="password" id="passwordForDeletion">
            </div>
            <div>
                <div>
                    <button class="confirm" id="confirmDeletion">Confirm</button>
                    <button class="cancel" id="cancelDeletion">Cancel</button>
                </div>
            </div>
        </div>


    <footer>
        <div class="footer-info">
            <ul><h3>Contact Us</h3>
                <li>Azatutyan 24/17</li>
                <li>Yerevan, Yerevan</li>
                <li>Phone: (123) 456-7890</li>
                <li>Email: info@academy.com</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Library Hours</h3>
                <li>Monday - Friday: 9am - 5pm</li>
                <li>Saturday: 10am - 4pm</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Helpful Links</h3>
                <li><a href="https://picsartacademy.am/">Academy Website</a></li>
                <li><a href="https://www.facebook.com/PicsartArmenia">Facebook</a></li>
            </ul>
        </div>
    </footer>
    <script src="/public/js/account.js" type="module"></script>
</body>
</html>