<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/public/css/registration.css">
</head>
<body>
    <header>
        <img src="https://ltdfoto.ru/images/2023/12/13/picsart-transformed.png" width="150" alt="Academy Logo">
      </header>

        <main>
          <form name="registr">
            <div>
                <label for="name">fullname</label>
                <input type="text" placeholder="name surname" name="fullname" id="name" required>

                <label for="user-email">email</label>
                <input type="email" placeholder="****@gmail.com" name="email" id="user-email" required>

                <label for="password">password</label>
                <input type="text" placeholder="********" name="password" id="password" required>

                <label for="label-repeat">confirm password</label>
                <input type="text" placeholder="********" name="confirm-password" id="confirm-password" required>
            </div>
               
            <div class="control-panel">
                <button type="submit" id="submit">Submit</button>
                <a href="/auth/login" id="login-page">return to login</a>
            </div>
                
          </form>
        </main>
      
        <footer>
          <div>
              <ul><h3>Contact Us</h3>
                  <li>Azatutyan 24/17</li>
                  <li>Yerevan, Yerevan</li>
                  <li>Phone: (123) 456-7890</li>
                  <li>Email: info@academy.com</li>
              </ul>
          </div>
          <div>
              <ul><h3>Library Hours</h3>
                  <li>Monday - Friday: 9am - 5pm</li>
                  <li>Saturday: 10am - 4pm</li>
                  <li>Sunday: Closed</li>
              </ul>
          </div>
          <div class="footer-info">
              <ul><h3>Helpful Links</h3>
                  <li>Academy Website</li>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Feedback Form</li>
              </ul>
          </div>
      </footer>
      <script src="/public/js/registration.js" type="module"></script>
</body>
</html>