<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header>
        <div class="nav">
            <img id="img-logo"  src="https://i.postimg.cc/g2YRctHV/picsart-academy-logo-resized.png">
            <div class="nav-option">
                <a href="/">Home</a>
            </div>
            <div class="nav-option">
                <a href="/login">Login</a>
            </div>
            <div class="nav-option">
                <a href="/catalog">Catalog</a>
            </div>
        </nav>
    </header>

    <main>

        <div class="welcome">
            <h1 id="greeting">Our Library</h1>
            <h2 id="foo">Collection of Books</h2>
        </div>


        <div class="books-preview">
            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>

            <div class="item">
                <div class="picture"></div>
                <div class="info">
                    <h3>"The C programing Language"</h3>
                    <p>author: Kernighan</p>
                </div>
            </div>
        </div>

        <div class="view-option">
            <button id="view-all">View all</button>
        </div>
    </main>


    <footer>
        <div class="footer-info">
            <ul><h3>Contact Us</h3>
                <li>Azatutyan 24/17</li>
                <li>Yerevan, Yerevan</li>
                <li>Phone: (123) 456-7890</li>
                <li>Email: info@academy.com</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Library Hours</h3>
                <li>Monday - Friday: 9am - 5pm</li>
                <li>Saturday: 10am - 4pm</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="footer-info">
            <ul><h3>Helpful Links</h3>
                <li>Academy Website</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Feedback Form</li>
            </ul>
        </div>
    </footer>
    <!-- <script src="./script.js"></script> -->
</body>
</html>